.articleWrapper {
  width: 620px;
  margin-right: auto;
  margin-left: auto;
}

.bodyWrapper {
  margin-top: 4rem;
  font-size: var(--font-size-m);
  line-height: 2.25rem;
}
.bodyWrapper img {
  display: block;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--color-border);
}
