.categoryWrapperStyle {
  width: 73vw;
  display: block;
  margin-top: 7rem;
  margin-inline: auto;
}
.contentWrapperStyle {
  width: 800px;
  margin: 0 auto;
}
.contentStyle {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  text-align: left;
  width: 80%;
}
.eyeCatchStyle {
  width: 187px;
  height: 187px;
  object-fit: cover;
}
.describeWrapperStyle {
  padding: 0 20px;
}
.titleStyle {
  display: flex;
  line-height: 24px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 1.7rem;
  font-weight: inherit;
  font-feature-settings: 'palt' 1;
  font-weight: bold;
}
.dateStyle {
  margin-top: 0.6rem;
  color: gray;
  text-align: left;
  font-size: 0.9rem;
}
.imageBorderStyle {
  border: 1px solid #101010;
  margin-bottom: 7rem;
}
.articleBorderStyle {
  border-top: 1px solid rgba(16, 16, 16, 0.1);
  margin: 2rem 0;
}
