.categoryLogoWrapperStyle {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  padding: 3rem 0;
}
.categoryTitleWrapperStyle {
  flex: 1;
}
.categoryTitleEnStyle {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}
.categoryTitleJpStyle {
  font-size: 1.5rem;
  text-align: left;
}
.categoryImageStyle {
  flex: 1.2;
  max-height: 60vh;
}
