.wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10rem;
  margin: 13rem 4rem 5rem;
}
.leftParts {
  flex-basis: max(18.75rem, 25.5639097744%);
  flex-grow: 1;
  min-width: 0;
  width: 25%;
}
.rightParts {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 0;
}
.rightWidth {
  padding-left: 0 !important;
  width: 40vw;
}
.largeStr {
  line-height: 1.25 !important;
  font-size: 3rem !important;
  font-weight: inherit;
  margin: 0;
  font-feature-settings: 'palt' 1 !important;
  text-align: left;
  font-weight: bold;
}
.smallStr {
  margin-top: 2rem !important;
  line-height: 1.75 !important;
  font-size: 1rem !important;
  text-align: justify;
}
