.menu {
  position: fixed;
  top: 2rem;
  right: 0;
  margin-right: 2rem;
  z-index: 10;
}
.menuTrigger,
.menuTrigger span {
  display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box;
}
.menuTrigger {
  position: relative;
  width: 40px;
  height: 31px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menuTrigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #101010;
  border-radius: 4px;
}
.menuTrigger span:nth-of-type(1) {
  top: 0;
}
.menuTrigger span:nth-of-type(2) {
  top: 14px;
}
.menuTrigger span:nth-of-type(3) {
  bottom: 0;
}

#menu.active span:nth-of-type(1) {
  transform: translateY(14px) rotate(-45deg);
}
#menu.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  animation: active-menu-bar 0.8s forwards;
}
@keyframes active-menu-bar {
  100% {
    height: 0;
  }
}
#menu.active span:nth-of-type(3) {
  transform: translateY(-14px) rotate(45deg);
}
