.item {
  background-color: aquamarine;
  /* position: relative;
  width: 33.33334%;
  height: 200px;
  padding-top: 80px;
  text-align: center;
  box-sizing: border-box;
  counter-increment: item; */
}

.item:after {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  content: counter(item);
  color: #fff;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
@media only screen and (max-width: 768px) {
  .list {
    display: block;
  }
  .item {
    width: auto;
  }
}

.menuTrigger,
.menuTrigger span {
  /* display: inline-block;
  transition: all 0.4s;
  box-sizing: border-box; */
  color: red;
}
.menuTrigger {
  position: relative;
  width: 50px;
  height: 44px;
  background: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.menuTrigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
}
.menuTrigger span:nth-of-type(1) {
  top: 0;
}
.menuTrigger span:nth-of-type(2) {
  top: 20px;
}
.menuTrigger span:nth-of-type(3) {
  bottom: 0;
}

#menu01.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#menu01.active span:nth-of-type(2) {
  opacity: 0;
}
#menu01.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}

#menu02.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-315deg);
}
#menu02.active span:nth-of-type(2) {
  opacity: 0;
}
#menu02.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(315deg);
}

#menu03.active {
  transform: rotate(360deg);
}
#menu03.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#menu03.active span:nth-of-type(2) {
  transform: translateY(0) rotate(45deg);
}
#menu03.active span:nth-of-type(3) {
  opacity: 0;
}

.menu04-section {
  perspective: 1000px;
}
#menu04 span:nth-of-type(3),
#menu04.active span:nth-of-type(3) {
  transition: none;
}
#menu04.active {
  transform: rotateX(720deg);
}
#menu04.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#menu04.active span:nth-of-type(2) {
  transform: translateY(0) rotate(45deg);
}
#menu04.active span:nth-of-type(3) {
  opacity: 0;
}

#menu05.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#menu05.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  animation: active-menu05-bar02 0.8s forwards;
}
@keyframes active-menu05-bar02 {
  100% {
    height: 0;
  }
}
#menu05.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}

#menu06.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#menu06.active span:nth-of-type(2) {
  left: 200%;
  opacity: 0;
  transform: translateY(10px);
  animation: active-menu06-bar02 0.8s forwards;
}
@keyframes active-menu06-bar02 {
  100% {
    height: 0;
  }
}
#menu06.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}

#menu07 span:nth-of-type(1) {
  animation: menu07-bar01 0.75s forwards;
}
@keyframes menu07-bar01 {
  0% {
    transform: translateY(20px) rotate(45deg);
  }
  50% {
    transform: translateY(20px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#menu07 span:nth-of-type(2) {
  transition: all 0.25s 0.25s;
  opacity: 1;
}
#menu07 span:nth-of-type(3) {
  animation: menu07-bar03 0.75s forwards;
}
@keyframes menu07-bar03 {
  0% {
    transform: translateY(-20px) rotate(-45deg);
  }
  50% {
    transform: translateY(-20px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#menu07.active span:nth-of-type(1) {
  animation: active-menu07-bar01 0.75s forwards;
}
@keyframes active-menu07-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(20px) rotate(0);
  }
  100% {
    transform: translateY(20px) rotate(45deg);
  }
}
#menu07.active span:nth-of-type(2) {
  opacity: 0;
}
#menu07.active span:nth-of-type(3) {
  animation: active-menu07-bar03 0.75s forwards;
}
@keyframes active-menu07-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-20px) rotate(0);
  }
  100% {
    transform: translateY(-20px) rotate(-45deg);
  }
}

#menu08.active span:nth-of-type(1),
#menu08.active span:nth-of-type(3) {
  width: 20px;
}
#menu08.active span:nth-of-type(1) {
  transform: translate(-1px, 13px) rotate(-45deg);
}
#menu08.active span:nth-of-type(3) {
  transform: translate(-1px, -13px) rotate(45deg);
}

#menu09.active {
  transform: rotate(360deg);
}
#menu09.active span:nth-of-type(1),
#menu09.active span:nth-of-type(3) {
  width: 20px;
}
#menu09.active span:nth-of-type(1) {
  transform: translate(-1px, 13px) rotate(-45deg);
}
#menu09.active span:nth-of-type(3) {
  transform: translate(-1px, -13px) rotate(45deg);
}

#menu10.active {
  transform: rotate(90deg);
}

#menu11 span:nth-of-type(1) {
  animation: menu11-bar01 0.5s forwards;
}
@keyframes menu11-bar01 {
  0% {
    transform: translateY(20px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#menu11 span:nth-of-type(2) {
  animation: menu11-bar02 0.5s forwards;
}
@keyframes menu11-bar02 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#menu11 span:nth-of-type(3) {
  animation: menu11-bar03 0.5s forwards;
}
@keyframes menu11-bar03 {
  0% {
    transform: translateY(-20px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
#menu11::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  margin: -16px 0 0 -16px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.1s;
  opacity: 0;
}
#menu11.active::after {
  animation: circle 0.5s;
}
@keyframes circle {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}
#menu11.active span:nth-of-type(1) {
  animation: active-menu11-bar01 0.5s 0.5s forwards;
}
@keyframes active-menu11-bar01 {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(20px) rotate(-45deg);
  }
}
#menu11.active span:nth-of-type(2) {
  animation: active-menu11-bar02 0.5s 0.5s forwards;
}
@keyframes active-menu11-bar02 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#menu11.active span:nth-of-type(3) {
  animation: active-menu11-bar03 0.5s 0.5s forwards;
}
@keyframes active-menu11-bar03 {
  0% {
    transform: translateY(0) rotate(0);
  }
  100% {
    transform: translateY(-20px) rotate(45deg);
  }
}

#menu12::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  content: '';
  width: 84px;
  height: 84px;
  margin: -45px 0 0 -45px;
  border-radius: 50%;
  border: 4px solid transparent;
  transition: all 0.75s;
}
#menu12.active span:nth-of-type(1) {
  transform: translateY(20px) rotate(-45deg);
}
#menu12.active span:nth-of-type(2) {
  left: 60%;
  opacity: 0;
  animation: active-menu12-bar02 0.8s forwards;
}
@keyframes active-menu12-bar02 {
  100% {
    height: 0;
  }
}
#menu12.active span:nth-of-type(3) {
  transform: translateY(-20px) rotate(45deg);
}
#menu12.active::after {
  animation: active-menu12 0.4s 0.25s forwards;
}
@keyframes active-menu12 {
  0% {
    border-color: transparent;
    transform: rotate(0);
  }
  25% {
    border-color: transparent #fff transparent transparent;
  }
  50% {
    border-color: transparent #fff #fff transparent;
  }
  75% {
    border-color: transparent #fff #fff #fff;
  }
  100% {
    border-color: #fff;
    transform: rotate(-680deg);
  }
}
